{% extends 'AppAdminBundle::layout.html.twig' %}

{% block content %}
    <p>
        Welcome to administration interface for the Music Sandbox project.
    </p>
    <p>
        You are now logged in and can administrate the API content.
    </p>
{% endblock %}