{% extends 'AppAdminBundle::layout.html.twig' %}

{% block content_title %}Album creation{% endblock %}

{% block content -%}
    <div class="panel-body">
        <ul class="record_actions nav nav-pills">
            <li>
                <a href="{{ path('app_admin_album_index') }}">
                    {{ 'back_to_list'|trans }}
                </a>
            </li>
        </ul>

        {{ form(form) }}
    </div>
{% endblock %}
